.main-header {
    background-color: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.header-container {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 3rem;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    gap: 1.15rem;
}

.nav-auth {
    margin-left: auto;
}

.nav-items a {
    text-decoration: none;
    color: var(--text-main);
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: var(--primary);
}

.logo {
    flex-shrink: 0;
}

.logo img {
    height: 65px;
    width: auto;
    display: block;
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--text-main);
    font-size: 1.5rem;
    cursor: pointer;
}

.category-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.category-header h1{
    margin-bottom: 1rem;
}

.category-header button{
    margin-bottom: 0.8rem;
}