
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: rgb(26, 26, 26);
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px white;
    rotate: -30deg;
    z-index: -1;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: rgb(19, 19, 19);
    border: 1px solid orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8),
                0 0 20px rgba(255, 165, 0, 0.6);
}

.logo img {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
    margin-left: 25px;
    display: block;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3.9rem;
    margin-left: -5%;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: orange;
}

.btn-signin {
    background-color: #a7a7a7;
    color: black;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.btn-register {
    background-color: #a7a7a7;
    color: black;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    margin-right: 30px;
} 

.btn-signin:hover, .btn-register:hover {
    background-color: white;
}
